<template>
	<div>
		<!-- should find close-order error -->
		<p>Lorem ipsum</i>

		<!-- should handle dynamic attributes -->
		<img src="image.png" v-bind:alt="dynamicAlt">
		<img src="image.png" :alt="dynamicAlt">

		<!-- should handle @event -->
		<a @click="onClick">click me!</a>

		<!-- should not choke on boolean attributes -->
		<input type="text" required>

		<!-- should not choke on misc vue constructs -->
		<ul>
			<template v-for="item in items">
				<li>{{ item }}</li>
			</template>
		</ul>

		<!-- should detect duplicated :class but not duplicate class + :class -->
		<p class="foo" :class="bar"></p>
		<p :class="foo" :class="bar"></p>

		<!-- should detect bindings and friends as having textual content -->
		<h1></h1>
		<h2 v-html="foo"></h2>
		<h3>{{ foo }}</h3>
		<h4><slot></slot></h4>
	</div>
</template>

<style>
 /* ... */
</style>

<script>
/* ... */
</script>
