<template>
	<div>
		<!-- this component has slot metadata -->
		<slot-metadata>
			<!-- this slot should not have any errors -->
			<div v-slot:foo>
				<div>lorem ipsum</div>
			</div>

			<!-- this slot should have errors -->
			<div v-slot:bar>
				<div>lorem ipsum</div>
			</div>
		</slot-metadata>
	</div>
</template>
