<template>
	<div>
		<example-withslot>
			<!-- this slot exists -->
			<template v-slot:foo>
				lorem ipsum
			</template>

			<!-- this slot also exists -->
			<template slot="bar">
				lorem ipsum
			</template>

			<!-- this slot does not exist -->
			<template slot="missing">
				lorem ipsum
			</template>
		</example-withslot>
	</div>
</template>
